@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*,
*:before,
*:after {
    box-sizing: border-box;
}

.header-brand {
    background-color: white;
}

.header-brand .brand {
    color: #333333;
    font-size: 18px;
    text-decoration: none;
    font-weight: 400;
}

.conversation {
    margin: 0 auto;
}

.people-list {
    width: 35%;
    float: left;
    overflow: hidden;
}

.content-wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 10px !important;
}

.all-threads .people-list {
    width: 100%;
    border-right: 0px;
}

.people-list .search {
    padding: 10px;
    min-height: 55px;
    display: flex;
    border-bottom: 2px solid #ddd;
    align-items: center;
    justify-content: center;
}

.people-list input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6A6C75;
    width: 90%;
    font-size: 14px;
}

.people-list .fa-search {
    position: relative;
    left: -25px;
}

.people-list ul {
    border-top: 2px solid #fff;
}

.people-list ul li {
    padding: 10px;
    border-bottom: 2px solid #ddd;
}

.people-list img {
    float: left;
}

.people-list .about {
    margin-top: 8px;
    margin-left: 20% !important;
}

.people-list .about {}

.people-list .status {
    color: #92959E;
}

.chat {
    width: 65%;
    float: left;
    height: 540px;
    background: #fbfbfbee;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;
}

.chat .chat-header {
    padding: 10px;
    border-bottom: 2px solid #ddd;
    border-left: 2px solid #ddd;
    background: white !important;
    display: flex;
    align-items: center;
    min-height: 55px;
}

.chat .chat-header img {
    float: left;
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 30px;
}

.chat .chat-header .chat-with {
    font-weight: normal;
    color: #41BBAC !important;
    font-size: 16px;
}

.chat .chat-header .chat-num-messages {
    color: #92959E;
}

.chat .chat-header .fa-star {
    float: right;
    color: #D8DADF;
    font-size: 20px;
    margin-left: auto;
}

.chat .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 400px;
}

.chat .chat-history .message-data {
    margin-bottom: 15px;
}

.chat .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
}

.chat .chat-history .message {
    color: white;
    padding: 7px 20px;
    line-height: 26px;
    font-size: 0.6rem;
    border-radius: 4px;
    margin-bottom: 30px;
    width: 65%;
    color: black;
    position: unset;
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #86BB71;
    border-width: 10px;
    margin-left: -10px;
}

.chat .chat-history .my-message {
    background: #86BB71;
}

.chat .chat-history .other-message {
    color: #434651;
}

.chat .chat-history .other-message:after {
    border-bottom-color: #94C2ED;
    left: 93%;
}

.chat .chat-message {}

.chat .chat-message textarea {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
}

.chat .chat-message .i {
    width: 10%;
    border: none;
}

.chat .chat-message .fa-file-o,
.chat .chat-message .fa-file-image-o {
    font-size: 16px;
    color: gray;
    cursor: pointer;
}

.chat .chat-message button {
    float: right;
    color: #94C2ED;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #F2F5F8;
}

.chat .chat-message button:hover {
    color: #75b1e8;
}

.online,
.offline,
.me {
    margin-right: 3px;
    font-size: 10px;
}

.online {
    color: #86BB71;
}

.offline {
    color: #E38968;
}

.me {
    color: #94C2ED;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    padding: 10px;
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.name {
    color: #444;
    padding-bottom: 5px;
}

.talkDeleteMessage {
    color: #563333;
}